<div class="d-drawer">
  <input id="my-drawer" type="checkbox" class="d-drawer-toggle" />
  <div class="d-drawer-content">
    <!-- Page content here -->
    <div class="d-container p-5">
      <label for="my-drawer" class="d-btn d-btn-primary d-drawer-button"
        >Modifier les filtres</label
      >
      <div
        id="graph"
        class="bg-base-200 rounded-box w-11/12 p-2 mt-5"
        style="height: 500px"></div>
    </div>
  </div>
  <div class="d-drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="d-drawer-overlay"></label>
    <ul
      class="d-menu d-rounded-box p-4 w-80 min-h-full bg-base-200 text-base-content">
      <li>
        <details open>
          <summary>Category</summary>
          <ul>
            <li>
              <details>
                <summary>Types</summary>
                <ul id="type-all">
                  <li>
                    <label class="d-label cursor-pointer">
                      <span class="d-label-text">All</span>
                      <input
                        type="checkbox"
                        [checked]="true"
                        (change)="selectAllTypes($event)"
                        class="d-checkbox d-checkbox-sm" />
                    </label>
                  </li>
                  <li class="d-form-control" *ngFor="let type of pokemonTypes">
                    <label class="d-label cursor-pointer">
                      <span class="d-label-text">{{ type }}</span>
                      <input
                        [id]="'type-' + type"
                        type="checkbox"
                        checked="checked"
                        class="d-checkbox d-checkbox-sm"
                        (change)="updateAllTypes()" />
                    </label>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary>Pokemon</summary>
                <ul>
                  <li class="d-form-control" *ngFor="let poke of pokemonNames">
                    <label class="d-label cursor-pointer">
                      <span class="d-label-text">{{ poke }}</span>
                      <input
                        type="checkbox"
                        checked="checked"
                        class="d-checkbox d-checkbox-sm"
                        [id]="poke" />
                    </label>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
