<div class="d-drawer">
  <input id="my-drawer" type="checkbox" class="d-drawer-toggle" />
  <div class="d-drawer-content">
    <!-- Page content here -->
    <div class="d-container p-5">
      <label for="my-drawer" class="d-btn d-btn-primary d-drawer-button"
        >Modifier les filtres</label
      >
      <div
        id="graph"
        class="bg-base-200 rounded-box w-11/12 p-2 mt-5"
        style="height: 550px"></div>
    </div>
  </div>
  <div class="d-drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="d-drawer-overlay"></label>
    <ul
      class="d-menu d-rounded-box p-4 w-80 min-h-full bg-base-200 text-base-content">
      <li><a>Item 1</a></li>
      <li>
        <details open>
          <summary>Category</summary>
          <ul>
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
            <li>
              <details open>
                <summary>Parent</summary>
                <ul>
                  <li><a>Submenu 1</a></li>
                  <li><a>Submenu 2</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
</div>
