<nav class="d-navbar bg-base-100">
  <!-- Logo -->
  <div class="d-navbar-start">
    <a routerLink="/home" class="w-12 rounded">
      <img src="assets/icons/logo.svg" alt="logo" />
    </a>
  </div>

  <!-- nav items -->
  <div class="d-navbar-end">
    <div class="d-menu d-menu-vertical lg:d-menu-horizontal d-rounded-box">
      <button
        class="d-btn text-xl text-primary bg-transparent border-transparent"
        routerLink="/graph"
        routerLinkActive="active">
        Graph Pokémon
      </button>
    </div>
    <div class="d-divider d-divider-horizontal"></div>
    <select
      data-choose-theme
      class="d-select d-select-ghost max-w-xs bg-base-100 text-base-content"
      [ngModel]="currentTheme"
      (ngModelChange)="changeTheme($event)">
      <option [value]="theme" *ngFor="let theme of themes">
        Thème {{ theme }}
      </option>
    </select>
  </div>
</nav>
